html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}
body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: 100%;
  background-image: radial-gradient(circle 100rem, white, #ffe899);
}
a {
  text-decoration: none;
  color: black;
}

.boxed {
  padding: 10px 15px;
  max-width: 90%;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 3px 15px 0px rgba(0,0,0,.2);
}
.hello {
  font-size: 4rem;
  font-weight: 700;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 90%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}
.name {
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
}
.description {
  margin: 20px 0;
  font-weight: 300;
  color: #515151;
  text-align: center;
}
.description div {
  padding: 3px 0px;
  font-size: 1.5rem;
}
.links {
  text-align: center;
  padding-top: 15px;
}
.links a {
  display: inline-block;
  padding: 5px 25px;
  cursor: pointer;
}
.links a:hover {
  text-shadow: 0px 3px 2px rgba(0,0,0,.2);
}
.links i {
  position: relative;
  top: -3px;
}
.resume i {
  color: #d32323;
}
.linkedin i {
  color: #0077B5;
}
.github i {
  color: #7a7a7a;
}
.highlight {
  font-weight: 500;
}
.highlight:hover {
  border-bottom: 2px dashed;
}
.yelp {
  color: rgba(211, 35, 35, 0.6);
}
.duke {
  color: rgba(0, 26, 87, 0.6);
}
.milan {
  color: rgba(0, 128, 0, 0.6);
}
.sf {
  color: rgba(254, 202, 0, 0.6);
}