html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}
body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: 100%;
}
a {
  text-decoration: none;
  color: black;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90%;
}
.name {
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
}
.description {
  padding: 20px 0px;
  font-weight: 300;
  color: #515151;
  text-align: center;
}
.description div {
  padding: 3px 0px;
  font-size: 1.5rem;
}
.links {
  text-align: center;
  padding-top: 15px;
}
.links a {
  display: inline-block;
  padding: 5px 20px;
  cursor: pointer;
}
.links a:hover {
  text-shadow: 1px 1px 3px rgba(0,0,0,.2);
}
.links div {
  font-size: 1rem;
}
.resume:hover {
  color: #d32323;
}
.linkedin:hover {
  color: #0077B5;
}
.github:hover {
  color: #7a7a7a;
}
.highlight {
  font-weight: 400;
}
.yelp {
  color: #d32323;
}
.duke {
  color: #001A57;
}
.milan {
  color: green;
}
.sf {
  color: #feca00;
}